#hero .hero-container .social-links a {
    font-size: 44px;
    display: inline-block;
    background: #373737;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    transition: 0.3s;
}

#hero .hero-container .social-links a:hover {
    background: #4eb478;
    color: #fff;
    text-decoration: none;
}

.features .content h3 {
    font-weight: 700;
    font-size: 34px;
}

#about {
    padding: 60px 0 0 0;
    overflow: hidden;
}

.cta {
    background: linear-gradient(rgba(2, 2, 2, 0.6), rgba(0, 0, 0, 0.8)), url(../img/home-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

.testimonials {
    padding: 80px 0;
    background: url(../img/home.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.features .carousel img {
    object-fit: cover;
    height: 260px;
}

.features .card:hover {
    color: #72c393;
    text-decoration: none;
}

.features .badge {
    background-color: #72c393;
}